.h1 {
  font-family: Georgia, serif;
  color: #2b7a9e;
  position: relative;
  top: 10px;
}

.h2 {
  font-family: Georgia, serif;
  text-align: center;
  position: relative;
  top: 15px;
}

.h3 {
  font-family: "Consolas", "monaco", monospace;
}

.p {
  font-family: "Courier New", monospace;
  text-align: center;
  position: relative;
  top: 10px;
}
